body{
    margin: 0;
    font-family: Arial,  sans-serif;
    background-color:white;
    color: aqua;
}
 
.header{
    background-color: rgb(0, 251, 255);
    padding: 30px;
    text-align: center;
    color: black;
    margin: 0%;
}       
.body{
color: black;
background-color: aquamarine;
text-align: center;
margin: 0;
padding:0px;
min-height: 900px;
}
.list{
    list-style-position:inside ;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1,p{
    margin: 0;
    padding: 10px;
}
label{
    padding: 0;
    margin: 0;
}
.projects{
    padding: 40px;

}

.project1,.project2{

    padding: 20px;
    border-radius: 10px; 
 
    
}