body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calc {
  background: black;
  padding: 15px;
  border-radius: 10px;
}

#display {
  background: #333;
  color: white;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 5px;
}

button {
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #666;
}
